<table class="table table-striped table-hover">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Rating</th>
    <th scope="col">Release date</th>
    <th/>
  </tr>
  <% movies.forEach(function(movie) {%>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td>
        <a class="btn btn-outline-primary" href="/movies/<%= movie.id %>" role="button">Show</a>
      </td>
    </tr>
  <%});%>
</table>

<a class="btn btn-outline-primary" href="/movies/new" role="button">Add a new movie</a>