<div class="input-group">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <input type="text" class="form-control" id="title" readonly value="<%= movie.title %>">
  </div>
  <div class="input-group">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <textarea class="form-control" id="description" readonly rows="3"><%= movie.description %></textarea>
  </div>
  <div class="input-group">
    <label for="rating" class="col-sm-2 col-form-label">Description</label>
    <input class="form-control" id="rating" readonly value="<%= movie.rating %>" ></textarea>
  </div>
  <div class="input-group">
    <label for="release_date" class="col-sm-2 col-form-label">Release date</label>
    <input type="date" class="form-control" id="release_date" readonly value="<%= movie.release_date %>">
  </div>